<!DOCTYPE HTML>
<html ng-app="DownStore">
  <head>
    <title>
      DownStore
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Paytone+One|Righteous' rel='stylesheet' type='text/css'>
    <link href="img/page_icon.PNG" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <header>
      <section id="menu" ng-click="apiCtrl.toggleMenu()">
        <img src="img/menu_icon.png">
      </section>
      
      <nav>
        <ul>
          <li class="logo">
            <h1 class="logo_text">DownStore!</h1>
          </li>
          
          <li class="link" category="home" ng-click="apiCtrl.setHome()" ng-show="a" ng-class="{'anim': apiCtrl.menuOut}">
            home
          </li>

          <li class="link" category="app" ng-click="apiCtrl.pageView(apiCtrl.APIS.app)" ng-class="{'anim': apiCtrl.menuOut}">
            Apps
          </li>
          <li class="link" category="video" ng-click="apiCtrl.pageView(apiCtrl.APIS.video)" ng-class="{'anim': apiCtrl.menuOut}">
            Video
          </li>
          <li class="link" category="music" ng-click="apiCtrl.pageView(apiCtrl.APIS.music)" ng-class="{'anim': apiCtrl.menuOut}">
            Music
          </li>
        </ul>
      </nav>
    </header>
    <section id="search-text">
      <form ng-submit="apiCtrl.search()">
        <input type="text" id="search" ng-model="searchQuery" placeholder="Search here...">
        <button id="search_button" value="search" ng-click="">Search Store</button>
      </form>
    </section>
    
    <section class="media_list">
      <ul id="msg"></ul>
    </section>

<!-- Videos -->
    <section class="media_list">
      <h1 class="title">Videos</h1>
      <ul id="video">
        <div lib-tmpl='loader' lib-local='loader'>
          <img lib-if='loading' lib-src='img/loading_icon.gif'>
        </div>
        <li lib-tmpl='videos' lib-rsrc='videos'>
          <iframe lib-src="https://player.vimeo.com/video/[[videoId]]"
           width='180' height='180' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p title="[[name]]">[[nameTrunc]]</p>
        </li>
      </ul>
    </section>

    <footer>
      <ul>
        <li><a href="">&copy; Reuq.js Store</a></li>
      </ul>
    </footer>
  </body>
  <script type="text/javascript" src="js/jquery-1.11.1.js" charset="utf-8"></script>
  <script type="text/javascript" src="../../src/reuq.js" charset="utf-8"></script>
  <script type="text/javascript" src="js/app.js"></script>
</html>